<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
   <!-- <img src="/image.png" alt=""> -->
  </div>
  <div class="headings">
    <h2>Questions</h2>
    <a href="/ask" class="btn">Ask Question</a>
  </div>
</header>

<table class="table table-striped">
  <tr class="bg-info">
    <th class="bg-info" data-column="first" data-order="desc">Author</th>
    <th data-column="Last" data-order="desc">Question</th>
    <th data-column="email" data-order="desc">Category</th>
    <th data-column="answercount" data-order="desc">Count</th>
  </tr>
  <tbody id="questionTable">
  </tbody>
</table>


<% for (let i = 1; i <= totalPages; i++) { %>
  <button type="button"><a href="/question-page/<%- i -%>">Page <%- i -%></a></button>
<% } %>



<script>

  console.log('pages: <%- JSON.stringify(totalPages) -%>');

  console.log('current: <%- JSON.stringify(current) -%>');

  function buildTable(data){
    const table = document.getElementById('questionTable')
    
    table.innerHTML = ''
    
    for (var i = 0; i < data.length; i++) {
      const row = `<tr>
                      <td>${data[i].author}</td>
                      <td>
                        <a href="/question/${data[i]._id}">${data[i].question}</a>
                      </td>
                      <td>${data[i].category}</td>
                      <td>${data[i].answerCount}</td>
					      </tr>`

    table.innerHTML += row
    }
  }

  async function displayQuestions(){
    //const questions = await fetchQuestions();
    const questions = JSON.parse('<%- questions -%>');
    buildTable(questions);
  }


 displayQuestions();
</script>

<%- include('partials/footer'); -%>

<!-- backup of original 3:40 pm - 1/14/2020



async function fetchQuestions(){
  try {
          const res = await fetch('/question', {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
          const data = await res.json();
          console.log(data);
          return data;
        } catch (error) {
          console.error(error)
        }
  }

  function buildTable(data){
    var table = document.getElementById('questionTable')
    
    table.innerHTML = ''
    
    for (var i = 0; i < data.length; i++) {
      var row = `<tr>
                    <td>${data[i].author}</td>
                    <td>${data[i].question}</td>
                    <td>${data[i].category}</td>
					      </tr>`

    table.innerHTML += row
    }
  }

  async function displayQuestions(){
    const questions = await fetchQuestions();
    buildTable(questions);
  }


 displayQuestions();
</script>



-->