<%- include('partials/header'); -%>

<header>
  <div class="uni-main">
   <!-- <img src="/image.png" alt=""> -->
  </div>
  <div class="headings">
    <h2>Questions</h2>
    <a href="/ask" class="btn">Ask Question</a>
  </div>
</header>

<table class="table table-striped">
  <tr class="bg-info">
    <th class="bg-info" data-column="first" data-order="desc"><p>Author</p></th>
    <th data-column="Last" data-order="desc"><p>Question</p></th>
    <th data-column="email" data-order="desc"><p>Category</p></th>
    <th data-column="answercount" data-order="desc"><p>Count</p></th>
  </tr>
  <tbody id="questionTable">
  </tbody>
</table>

<ul class="pagination">
  <% for (let i = 1; i <= totalPages; i++) { %>
    <li> <a href="/<%- i -%>"><%- i -%></a></li>
  <% } %>

</ul>
<div class="pagination2">
  <% if(current > 1){ %>
    <button type="button"><a href="/<%- current - 1 -%>">Prev</a></button>
  <% } %>
  <% if(current < totalPages) { %>
    <button type="button"><a href="/<%- parseInt(current) + parseInt(1) -%>">Next</a></button>
  <% } %>
</div>

<script>

  console.log('pages: <%- JSON.stringify(totalPages) -%>');

  console.log('current: <%- JSON.stringify(current) -%>');

  function buildTable(data){
    const table = document.getElementById('questionTable')
    
    table.innerHTML = ''
    
    for (var i = 0; i < data.length; i++) {
      const row = `<tr>
                      <td><p>${data[i].author}</p></td>
                      <td><p>
                        <a href="/question/${data[i]._id}">${data[i].question}</a>
                      </p></td>
                      <td><p>${data[i].category}</p></td>
                      <td><p>${data[i].answerCount}</p></td>
					      </tr>`

    table.innerHTML += row
    }
  }

  async function displayQuestions(){
    //const questions = await fetchQuestions();
    const questions = JSON.parse('<%- questions -%>');
    buildTable(questions);
  }


 displayQuestions();
</script>

<%- include('partials/footer'); -%>

<!-- backup of original 3:40 pm - 1/14/2020



async function fetchQuestions(){
  try {
          const res = await fetch('/question', {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
          const data = await res.json();
          console.log(data);
          return data;
        } catch (error) {
          console.error(error)
        }
  }

  function buildTable(data){
    var table = document.getElementById('questionTable')
    
    table.innerHTML = ''
    
    for (var i = 0; i < data.length; i++) {
      var row = `<tr>
                    <td>${data[i].author}</td>
                    <td>${data[i].question}</td>
                    <td>${data[i].category}</td>
					      </tr>`

    table.innerHTML += row
    }
  }

  async function displayQuestions(){
    const questions = await fetchQuestions();
    buildTable(questions);
  }


 displayQuestions();
</script>



-->